html {
    width: 250px;
    max-height: 500px;
    background-color: #212625;
    color: whitesmoke;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


h2 {
    color: #FEA204;
}

.loadfile {
    display: flex;
    width: 190px;
    height: 190px;
    justify-content: center;
    flex-direction: column;
    content: center;
    border-radius: 20px;
    border: 3px solid #FEA204;
    overflow: hidden;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    /*font-size: 1.25em;*/
    font-weight: 700;
    text-align: center;
    /*display: inline-block;*/
}

.inputfile:focus + label,
.inputfile + label:hover {
    /*color: #F3A34C*/
    color: #71A63C
}

.inputfile + label {
	cursor: pointer;
}

.loadfile input{
    /*display: none;*/
    width: 100%;
    cursor: pointer;    
}

.loadfile h3, h4{
    width: 100%;    
    text-align: center;
}


#modInformation-h3 {
    color: #71A63C;
}



h1 {
    text-align: center;
}


.buttons {
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    /*display: None;*/
}

#addAllMods {
    border-radius: 10px;
    width: 100%;
    padding: 10px 0px;
    font-weight: 700;
    background-color: #FEA204;
}

#showModsToggle {
    
    border-radius: 10px;
    width: 100%;
    padding: 10px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    background-color: #FEA204;
}


#addAllMods:hover ,#showModsToggle:hover {
    background-color:#f5c38d;
}